#img-film{
    /* width: 30%; */
    /* height: 30%; */
    max-width: 110px;
    max-height: 220px;
    border-radius: 10px;
}
.div-film-card{
    display: flex;
    flex-direction: row;
}
.div-film-img{
    display: flex;
    flex-direction: column;
    padding-right: 2%;
}
.div-film-name-year{
    display: flex;
    flex-direction: row;
}
.div-film-name-description{
    display: flex;
    flex-direction: column;
}

#img-film{
    
}
#year-film{
    font-size: 13px;
    color: rgb(190, 196, 201);
}
#like-film{
    
}
#film-name{
    font-size: 19px;
}

.div-list-film-cards{
    margin-bottom: 3%;
}